layout {
    pane size=1 borderless=true {
        plugin location="zellij:compact-bar"
    }
    pane split_direction="vertical"{
        pane command="spt" size="70%"
        pane command="cava" size="30%"
    }
}
